
/*RESET */

*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif; 
    text-decoration: none;
}

/*NAVBAR (Todas las paginas, incluido INDEX)*/


.navbar {
    padding: 2rem;
    background-color: black;
    display: flex;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-item .nav-link  {
    color: white;
}

.nav-item  {
    color: white;
}
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }}

/*Seccion Index */
.mainPrincipal {
    background-color: rgb(61, 61, 240);
    margin-top: -50px;
}

.tituloIndex #titulo { 
    color:aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 350px;
    height: auto;
    background-color: rgb(42, 77, 235);
    padding-top: 24px;
    border: 5px black double;
    padding: 20px 20px; 
    margin-top: 20px;
    margin: 50px auto;
}
.tituloIndex #subtitulo{
    text-align: center;
    color:aliceblue;
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    background-color: rgb(11, 34, 134);
    border: 5px double black;
    padding: 30px 30px;
    margin: 50px auto;
}
.mainPrincipal .main {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.parte-media{
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center;
}


.main .parte-media .parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
    border: 5px solid black;
    text-align: start;
    padding: 20px 20px;
    margin: 10px auto;
    width: 800px;
    height: 245px;
    color: antiquewhite;
    background-color: rgb(2, 10, 46);
}

.main .parte-media .parrafo-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
    border: 5px solid black;
    text-align: start;
    padding: 50px 50px;
    margin: 30px 30px;
    width: 800px;
    height: 1500px;
    color: antiquewhite;
    background-color: rgb(2, 10, 46);
    padding-top: 90px;
    font-size: 20px;
}


.mainPrincipal .main .parte-media .frase{
    color: rebeccapurple;
}

.mainPrincipal .main .div3Header {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center; 
    margin:70px 70px; }


main .divCamisetas {
    background-color:rgb(128, 107, 221)  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

main .divNosotros {
    background-color:rgb(128, 107, 221) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}


.sectionvideo {
    background-color: rgb(42, 77, 235);
    display: flex;
    justify-content: center;
    margin: 50px 50px;
}
  
.table {
    background-color: rgb(42, 77, 235);
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    margin: 10px 10px;  
}

.table table {
    background-color: white;
    border: 5px solid; 
    border-color: black;
}

/* FOOTER (TODAS LAS PAGS) */ 

.footer {
    background-color: rgb(3, 3, 85);
    height:600px;
}

footer .divFooterDir {
    text-align: center;
}

footer .h2Footer {
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    color: antiquewhite;
}

footer .dirFooter {
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-align: center;
    color: antiquewhite;
    
}

footer .dirFooter {
    font-size: 18px;
    font-weight: 700;
    padding-top: 60px;
}

footer .logofooter { 
    margin:  50px 20px 0px 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}


footer .iconosdefooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  50px 20px 0px 20px;
    font-size: 50px;
    color: aliceblue;
}


footer .divCopy {
    width: 100%;
    max-width: 100%;
}

footer .divCopy hr {
    margin-top: 20px;
}

footer .copyrightFooter {
    color: white;
    text-align: center;
    margin-top: 30px;
}

footer .copyrightLink {
    color: white;
    font-size: 17px;
}


/* CARROUSEL DE IMAGENES DE SECCION CAMISETAS */
.carousel-inner {
    background-color: rgb(87, 0, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px;
    width: 70%;
    height: 350px;
}

.carousel-inner img {
    width: 350px;
    height: 250px;
}

 .text-center .parrafoseccioncamisetas {
    text-align: center;
    color:rgb(224, 39, 147);
    display: flex;
    justify-content: center;
    height: auto;
    background-color: rgb(11, 34, 134);
    border: 5px double black;
    padding: 30px 30px;
    margin: 50px auto;
}


.grid-columns{
    width: 100%;
    padding: 0px 5px;
    border: 0;
    display: block;
    background-color:rgb(206, 187, 163)

}

.grid-columns .camiseta {
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 100px;

}
.grid-columns .camiseta img {
    width:100px;
    height:100px 
}

.boton {
        border: 1px solid #2e518b; 
        padding: 10px; 
        background-color: #2e518b; 
        color: black;
        border-radius: 50px; 
        }


/* FORMULARIO */

/*UTILIZACION DE PROPIEDADES: (Clase Animaciones)
 Utilizacion de Propiedad Linear - Gradient en clase .formulario 
 Utilizacion de Propiedad Transform Translate & Scale en clase .h1
 Utilizacion de Propiedad  Transition en clase .imagenseccioncontcto & .input*/

.h1seccioncontacto {
    margin: 0 auto;
    background-color: rgb(0, 3, 155);
    color: aliceblue;
    width: 400px;
    transform: translate(20px, -40px); /* X Y*/
    transform: scale(0.80, 0.80);
}

.formulario {
    margin: 0 auto;
    width: 950px;
    border: 5px solid black;
    background: linear-gradient(45deg, rgb(152, 42, 255) 30%, rgb(45, 3, 94) 70%); 
    color: wheat;
}

.imagendeseccioncontacto img {
    height: 200px;
    width: 459px;
    transition:all .10s;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center; 
    margin:250px 250px;
    border: solid black 10px; }


.imagendeseccioncontacto img:hover{
    width: 800px;
    height: 900px;
  
}

.input{
    transition: all .20s;
}
.input:focus {
    font-size: 40px;
    background: powderblue;
}

/* PAGINA FINAL */

.mainPrincipal {
    background-color: rgb(61, 61, 240);
    margin-top: -50px;
}

.tituloFinal #titulo { 
    color:aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 350px;
    height: auto;
    background-color: rgb(42, 77, 235);
    padding-top: 24px;
    border: 5px black double;
    padding: 20px 20px; 
    margin-top: 20px;
    margin: 50px auto;
}

#audio {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin: 50px auto;

}

.seccion-final .container-fluid #estadio { 
    text-align: center;
    color:aliceblue;
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    background-color: rgb(11, 34, 134);
    border: 5px double black;
    padding: 30px 30px;
    margin: 50px auto;
 }

#inframe {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    margin: 50px auto;
}

#imagenEstadio{
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    margin: 50px auto;
}



.seccioncopa #imagenCopa {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    margin: 50px auto;
}

.seccioncopa #parrafocopa {
    color:aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 350px;
    height: auto;
    background-color: rgb(42, 77, 235);
    padding-top: 24px;
    border: 5px black double;
    padding: 20px 20px; 
    margin-top: 20px;
    margin: 50px auto;
}

#fechadeprimeracopa {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    margin: 50px auto;
}

/* Seccion Pagina FINAL
 Utilizacion de propiedad de Animaciones @keyframes*/
    @keyframes efecto {
        0% {
            background: rgb(167, 135, 32);
            width: 500px;
            height: 100px;
        }
        50% {
            background: rgb(255, 226, 63);
            width: 100%;
            height: 50px;
        }
        100% {
            background: rgb(184, 181, 0);
            width: 300px;
        }

    }

    .seccioncopa h2 {
        border: 5px solid;
        animation-name:efecto;
        animation-iteration-count: 3;
        animation-duration: 3s;
        animation-delay: 1s;
        display: flex;
        justify-content: center;
        padding: 10px 10px;
         margin: 50px auto;
    }

/* MEDIA QUERIES */


@media screen and (max-width: 780px) {
    .div3Header .imagendemessi {
        width: 140%;
        height: 140%;
   }
}


@media screen and (max-width: 780px) {
    .main .parte-media .parrafo {
        width: 70%;
        height: 70%;
   }
}


@media screen and (max-width: 780px) {
    .main .parte-media .parrafo-final {
        width: 100%;
        height: 100%;
   }
}
@media screen and (max-width: 780px) {
    .seccion-final .container-fluid #inframe {
        width: 140%;
        height: 140%;
   }
}




body {
    background-color: rgb(49, 49, 252);
}


